.modal {
    display: none; /* По умолчанию окно закрыто */
    z-index: 10; /* Чтобы сделать окно поверх всех элементов */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный темный фон */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll; /* При переполнении окна делаем скролл */
    padding: 20px;
}

.modal--open {
    display: flex; /* Модификатор для открытого окна */
}

.modal_box {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.modal_title {
    color: #111;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.modal_info {
    color: #111;
    font-size: 16px;
    margin-bottom: 30px;
}

.modal_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}